@model List<Book>

<div class="container_main row">
    <div class="container_search">
        <form asp-controller="Library" asp-action="Books">
            <p>
                Title: <input type="text" name="bookTitle" />
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>

    <div class="container_output row">
        <table class="table">
            <thead>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Available</th>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.ISBN</td>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.AvailabilityStatus</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>